.contact__link-row {
  display: flex;
  padding-right: 0.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--size--gap--xs);
  grid-row-gap: var(--size--gap--xs);
}

.fa {
  transition: transform 200ms ease;
  font-family: var(--font--family--fa--solid);
}

.fa.nav4__chevron {
  font-size: 0.9rem;
}

.fa.contact-link__fa {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}