.section {
  position: relative;

  display: flex;
  padding-top: var(--_responsiveness---section--padding-y);
  padding-bottom: var(--_responsiveness---section--padding-y);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.home-hero {
  min-height: 45rem;
}

@media screen and (max-width: 991px) {
  .section.home-hero {
    min-height: 65rem;
    padding-top: 12rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.section.home-awards {
  min-height: 40rem;
}

@media screen and (max-width: 767px) {
  .section.home-awards {
    min-height: 50rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.section.hero {
  min-height: 45rem;
  justify-content: flex-start;
  align-items: center;
}

.section.hero:where(.w-variant-4f6ed31e-5ca8-326e-c67a-45e711416410) {
  color: var(--color--primitives--white);
}

@media screen and (max-width: 767px) {
  .section.hero {
    padding-top: 8rem;
  }
}

.section.school-list-section {
  background-color: var(--_theme---brand--yellow);
}

.section.awards-list-section {
  background-color: var(--_theme---brand--blue);
  color: var(--color--primitives--white);
}

.section.awards-list-section.awards-page {
  background-color: transparent;
}

.section.about-split {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.section.resources-section {
  background-color: var(--_theme---brand--purple);
}

.section.faq-section {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
}

.section.splitter-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  position: relative;

  display: flex;
  width: 87.5rem;
  max-width: 94%;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.flex {
  display: flex;
  grid-column-gap: var(--size--gap--md);
  grid-row-gap: var(--size--gap--md);
}

.container.flex {
  position: relative;
  z-index: 5;

  width: var(--_responsiveness---container--container);
  max-width: var(--_responsiveness---container--max);
  flex-direction: row;
  flex-wrap: nowrap;
}

.container.home-hero {
  position: relative;
  z-index: 2;
}

.container.home-cta {
  position: relative;
  z-index: 2;
}

.container.about-container {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.container.centered {
  justify-content: center;
  align-items: center;
}

.container.award-upper-cont {
  margin-bottom: 3.5rem;
}

.container.awards-page {
  padding: 2rem;
  border-radius: 1.31rem;
  background-color: var(--_theme---brand--blue);
}

@media screen and (max-width: 767px) {
  .container.awards-page {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .container.awards-page {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.splitter {
  display: flex;
  width: 100%;
  grid-column-gap: var(--size--gap--md);
  grid-row-gap: var(--size--gap--md);
}

.splitter:where(.w-variant-a2d61eb5-a755-fe49-9025-8bac8da4e372) {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

@media screen and (max-width: 991px) {
  .splitter {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .splitter {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.splitter.home-cta-splitter {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

@media screen and (max-width: 991px) {
  .splitter.home-cta-splitter {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
  }
}

.splitter.footer-splitter {
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
}

@media screen and (max-width: 991px) {
  .splitter.footer-splitter {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }
}

.splitter.footer-splitter.upper {
  margin-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .splitter.footer-splitter.upper {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }
}

.splitter.footer-splitter.copy {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;

  border-top: 1px solid black;

  color: var(--color--primitives--black);
}

.splitter.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.splitter.what-card-splitter {
  display: grid;
  padding-right: 3.75rem;
  padding-left: 3.75rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .splitter.what-card-splitter {
    padding-right: 0rem;
    padding-left: 0rem;
    grid-template-columns: 1fr;
  }
}

.splitter.about-splitter {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.splitter.comittees {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.75rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.splitter.comittees._2 {
  margin-top: 3.75rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  .splitter.comittees._2 {
    display: flex;
    grid-row-gap: 1.5rem;
  }
}

.splitter.center {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .splitter.center {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.splitter.htd-upper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.75rem;
  grid-row-gap: 0rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .splitter.htd-upper {
    display: flex;
    grid-row-gap: 1.5rem;
  }
}

.splitter.htd-upper._2 {
  margin-top: 3.75rem;
  grid-template-columns: 1fr 1fr;
}

.splitter.info {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
}

@media screen and (max-width: 767px) {
  .splitter.info {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }
}

.splitter.where-top {
  margin-bottom: 4.5rem;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #6b6b6b;
}

@media screen and (max-width: 767px) {
  .splitter.where-top {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
}

.splitter.img-text {
  grid-column-gap: var(--size--padding--xl);
  grid-row-gap: var(--size--padding--xl);
}

.flex-1 {
  flex: 1;
}

.flex-1.max-w-40 {
  max-width: 40%;
}

.flex-1.max-w-40.grants {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  order: 0;
}

@media screen and (max-width: 991px) {
  .flex-1.max-w-40.grants {
    max-width: 100%;
  }
}

.flex-1.max-w-40.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  order: 0;
}

@media screen and (max-width: 991px) {
  .flex-1.max-w-40.blogs {
    max-width: 100%;
  }
}

.flex-1.splitter-content {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 1.88rem;
  grid-row-gap: 1.88rem;
}

@media screen and (max-width: 767px) {
  .flex-1.splitter-content {
    max-width: 100%;
  }
}

.flex-1.info-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.88rem;
  grid-row-gap: 2.88rem;
}

.careers-split-img {
  max-height: 30rem;
  border-radius: 0.625rem;
}

.split-h {
  margin-bottom: 0rem;
}